body {
    background-color: azure;
    color: blue;

}

.head {
    color: green;
}

.center {
    color: chocolate;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.options {
    display: inline-flexbox;
    padding: 10px;
}

.option {
    color: darkblue;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
}