{{define "plot.html"}}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Chose your adventure</title>

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="center">
    <div class="head">
        <h1>Chose your adventure</h1>
            <h2>{{.GetCurrentStoryNode.Title}}</h2>
        </div>        
            <br>
            <h3>{{.GetCurrentStoryNode.Story}}
                <div class="options">
                    {{range .GetCurrentStoryNode.Options}}
                    <form action="plot">
                        <input class="option" type="submit" value={{.Text}}>
                    </form>
                    {{end}}
                </div>
            </h3>
        <div>
            
        </div>
    </div>
</body>
</html>
{{end}}