{{define "plot.html"}}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Chose your adventure</title>

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="center">
        <h1>Chose your adventure<h1>
            <h2>{{.GetCurrentStoryNode.Title}}</h2>
            <h3>{{.GetCurrentStoryNode.Story}}</h3>
        <div>
            <form action="plot">
                <input type="submit" value="Option A">
                <input type="submit" value="Option B">
            </form>
        </div>
    </div>
</body>
</html>
{{end}}